<%- include('templates/header') %> 

<link rel="stylesheet" href="/css/armor-detail.css">

<div class="armor-detail-main">
    <div class="armor-detail-core">
        <div class="armor-detail-info">
            <h3><%= armor.name %> </h3>
            <p>Id: <%= armor.id %> </p>
        </div>
        <div class="armor-detail-galery">
            <div class="armor-detail-img">
                <img src="<%= armor.assets.imageMale %> " alt="" title="MaleImage">
                <img src="<%= armor.assets.imageFemale %>" alt="" title="FemaleImage">
            </div>
            <div class="armor-detail-type-rank">
                <div class="armor-detail-type">
                    <h3><%= armor.type %> </h3>
                    <p>type</p>
                </div>
                <hr>
                <div class="armor-detail-rank">
                    <h3><%= armor.rank %> </h3>
                    <p>rank</p>
                </div>
                <hr>
                <div class="armor-detail-rarity">
                    <h3><%= parseFloat(armor.rarity) %> </h3>
                    <p>rarity</p>
                </div>
            </div>
        </div>
    </div>
    <div class="armor-detail-stat">
        <h3>Defense Stats</h3>
        <div class="defense-stat">
            <div class="defense-title">
                <p>Base: </p>
                <div class="defense-bar">
                    <div class="defense-value" style="--w: <%=armor.defense.base/2%>%">
                        <span><%=armor.defense.base%></span>
                    </div>
                </div>
            </div>
            <div class="defense-title">
                <p>Max: </p>
                <div class="defense-bar">
                    <div class="defense-value" style="--w: <%=armor.defense.max/2%>%">
                        <span><%=armor.defense.max%></span>
                    </div>
                </div>
            </div>
            <div class="defense-title">
                <p>Augmented: </p>
                <div class="defense-bar">
                    <div class="defense-value" style="--w: <%=armor.defense.augmented/2%>%">
                        <span><%=armor.defense.augmented%></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="resistances">
            <h3>Resistantces</h3>
            <div class="resistances-element">
                <div class="resis-element">
                    <p><i class="fa-solid fa-fire" title="fire"></i>: <%= armor.resistances.fire %> </p>
                </div>
                <div class="resis-element">
                    <p><i class="fa-solid fa-water" title="water"></i>: <%= armor.resistances.water %> </p>
                </div>
                <div class="resis-element">
                    <p><i class="fa-solid fa-icicles" title="ice"></i>: <%= armor.resistances.ice %> </p>
                </div>
                <div class="resis-element">
                    <p><i class="fa-solid fa-bolt-lightning" title="thunder"></i>: <%= armor.resistances.thunder %> </p>
                </div>
                <div class="resis-element">
                    <p><i class="fa-solid fa-dragon" title="dragon"></i>: <%= armor.resistances.dragon %> </p>
                </div>
            </div>
        </div>
    </div>
</div>
