<%- include('templates/header') %> 

<link rel="stylesheet" href="/css/armor-detail.css">

<div class="armor-detail-main">
    <div class="armor-detail-core">
        <div class="armor-detail-info">
            <h3><%= armor.name %> </h3>
            <p>Id: <%= armor.id %> </p>
        </div>
        <div class="armor-detail-galery">
            <div class="armor-detail-img">
                <img src="<%= armor.assets.imageMale %> " alt="" title="MaleImage">
                <img src="<%= armor.assets.imageFemale %>" alt="" title="FemaleImage">
            </div>
            <div class="armor-detail-type-rank">
                <div class="armor-detail-type">
                    <h3><%= armor.type %> </h3>
                    <p>type</p>
                </div>
                <hr>
                <div class="armor-detail-rank">
                    <h3><%= armor.rank %> </h3>
                    <p>rank</p>
                </div>
                <hr>
                <div class="armor-detail-rarity">
                    <h3><%= parseFloat(armor.rarity) %> </h3>
                    <p>rarity</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="armor-detail-stat">

    </div>
</div>